/* Estilos para el header */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
}

.containerheader {
    background-color: #2c3e50; /* Color de fondo del header */
    padding: 20px 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: flex-end; /* Alinea los elementos a la derecha */
    align-items: center;
    padding: 0 50px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 30px; /* Espacio entre los elementos del menú */
}

nav ul li a {
    color: #ecf0f1; /* Color del texto */
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #34495e; /* Color de fondo al pasar el mouse */
    border-radius: 5px;
}

.btn_salir {
    background-color: #e74c3c; /* Botón de salir con color */
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 30px;
    transition: background-color 0.3s ease;
}

.btn_salir:hover {
    background-color: #c0392b;
}

.btn_perfil {
    background-color: #2198cc; /* Botón de salir con color */
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 30px;
    transition: background-color 0.3s ease;
}

.btn_perfil:hover {
    background-color: #155a85;
}


.btn_reportes {
    background-color: #e7e70e; /* Botón de salir con color */
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 30px;
    transition: background-color 0.3s ease;
}

.btn_reportes:hover {
    background-color: #b2bd1c;
}

/* Estilos para el dropdown */
.nav-item.dropdown {
    position: relative;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #2c3e50;
    top: 100%;
    right: 0;
    min-width: 160px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 100;
}

.dropdown-menu li {
    padding: 10px 20px;
}

.dropdown-menu li a {
    color: #ecf0f1;
    font-size: 14px;
    display: block;
}

.dropdown-menu li a:hover {
    background-color: #34495e;
    border-radius: 5px;
}
