/* Estilos para el header */
.header-container {
    --color-primario: #89b56b;
    --color-secundario: #3f6844;
    --color-terciario: #5daa68;
    --color-fondo: #f4faff;
    --color-texto: #333;
    --color-blanco: #fff;
    --color-gris-claro: #e0e0e0;
}

.header-container h1, .header-container h2, .header-container h3 {
    color: var(--color-secundario);
    text-align: center;
}

.header-container h1 {
    margin-top: 20px;
}

.header-container p {
    text-align: center;
    margin-top: 20px;
    color: var(--color-secundario);
    font-weight: 500;
}

.header-container .containerheader {
    background-color: #f2f2f2; /* Color de fondo del header */
    padding: 20px 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.header-container nav {
    display: flex;
    justify-content: flex-end; /* Alinea los elementos a la derecha */
    align-items: center;
    padding: 0 50px;
}

.header-container nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header-container nav ul li {
    margin-left: 30px; /* Espacio entre los elementos del menú */
}

.header-container nav ul li a {
    color: var(--color-texto);
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}

.header-container nav ul li a:hover {
    background-color: var(--color-primario);
    border-radius: 5px;
}

.header-container .btn_salir {
    background-color: #e74c3c; /* Botón de salir con color */
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 30px;
    transition: background-color 0.3s ease;
}

.header-container .btn_salir:hover {
    background-color: #c0392b;
}

.header-container .btn_perfil {
    background-color: #2198cc; /* Botón de salir con color */
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 30px;
    transition: background-color 0.3s ease;
}

.header-container .btn_perfil:hover {
    background-color: #155a85;
}

.header-container .btn_reportes {
    background-color: #e7e70e; /* Botón de salir con color */
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 30px;
    transition: background-color 0.3s ease;
}

.header-container .btn_reportes:hover {
    background-color: #b2bd1c;
}

/* Estilos para el dropdown */
.header-container .nav-item.dropdown {
    position: relative;
}

.header-container .nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.header-container .dropdown-menu {
    display: none;
    position: absolute;
    background-color: var(--color-blanco);
    top: 100%;
    right: 0;
    min-width: 160px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 100;
}

.header-container .dropdown-menu li {
    padding: 10px 20px;
}

.header-container .dropdown-menu li a {
    color: var(--color-texto);
    font-size: 14px;
    display: block;
}

.header-container .dropdown-menu li a:hover {
    background-color: var(--color-primario);
    border-radius: 5px;
}

.header-container .logo-container {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.header-container .logo-img {
    height: 40px;
    margin-right: 10px;
}

.header-container .logo {
    color: #ecf0f1;
    font-size: 24px;
    margin: 0;
}

.header-container body {
    background-color: var(--color-fondo);
    font-family: 'Arial', sans-serif;
    color: var(--color-texto);
    margin: 0;
    padding: 0;
}

.header-container .container ul {
    list-style: none;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: var(--color-fondo);
}