<%- include('./partials/header'); %>
<form action="/events/create_event" method="POST">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" required>

    <label for="descripcion">Descripción:</label>
    <input type="text" id="descripcion" name="descripcion" required>

    <label for="fecha">Fecha:</label>
    <input type="date" id="fecha" name="fecha" required>

    <label for="lugar">Lugar:</label>
    <input type="text" id="lugar" name="lugar" required>

    <label for="categorias">Categorías:</label>
    <div id="categorias">
      <label><input type="checkbox" name="categorias" value="1"> 15-19 años</label><br>
      <label><input type="checkbox" name="categorias" value="2"> 20-29 años</label><br>
      <label><input type="checkbox" name="categorias" value="3"> 30-39 años</label><br>
      <label><input type="checkbox" name="categorias" value="4"> 40-49 años</label><br>
      <label><input type="checkbox" name="categorias" value="5"> 50-59 años</label><br>
      <label><input type="checkbox" name="categorias" value="6"> 60-69 años</label><br>
      <label><input type="checkbox" name="categorias" value="7"> 70+ años</label><br>
    </div>
    
    <label for="distancias">Distancias:</label>
    <div id="distancias">
      <label><input type="checkbox" name="distancias" value="1"> 2 km</label><br>
      <label><input type="checkbox" name="distancias" value="2"> 5 km</label><br>
      <label><input type="checkbox" name="distancias" value="3"> 10 km</label><br>
      <label><input type="checkbox" name="distancias" value="4"> 21 km</label><br>
    </div>    

    <button type="submit">Crear Evento</button>
</form>
