<%- include('./partials/header'); %>
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Categorías</title>
    <link rel="stylesheet" href="/styles/style_formulario.css">
</head>
<body>
    <div class="form-container">
        <h1>Editar Categorías</h1>
        <form action="/events/edit_categoria/<%= categoria.id %>" method="POST">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" value="<%= categoria.nombre %>" required>

            <button type="submit">Editar Categoría</button>
        </form>
    </div>
</body>
</html>
