<%- include('./partials/header'); %>
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Distancias</title>
    <link rel="stylesheet" href="/styles/style_formulario.css">
</head>
<body>
    <div class="form-container">
        <h1>Editar Distancias</h1>
        <form action="/events/edit_distancia/<%= distancia.id %>" method="POST">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" value="<%= distancia.nombre %>" required>

            <label for="precio">Precio:</label>
            <input type="number" id="precio" name="precio" value="<%= distancia.precio %>" required>

            <button type="submit">Editar Distancias</button>
        </form>
    </div>
</body>
</html>
