<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/styles/style_login.css">

    
</head>
<body>
    <div class="floating-message" id="floatingMessage"></div>
    <div class="container">
        <h2>Login</h2>
        <% if (typeof errorMessage !== 'undefined') { %>
            <p class="error-message"><%= errorMessage %></p>
        <% } %>
        <form action="/auth_login" method="POST">
            <input type="text" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Contraseña" required>
            <input type="submit" value="Login">
        </form>

        <button class="register-btn" onclick="toggleForm('registerForm')">Registrarse</button>

        <!-- Formulario de registro -->
        <div class="register-form" id="registerForm">
            <h2>Registro</h2>
            <form action="/create_user" method="POST">
                <input type="text" name="nombre" placeholder="Nombre" required>
                <input type="text" name="apellido" placeholder="Apellido" required>
                <input type="date" name="fecha_nacimiento" placeholder="Fecha Nacimiento" required>
                <input type="text" name="telefono" placeholder="Número Telefónico" required>
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Contraseña" required>
                <input type="hidden" id="rolId" name="rolId" value="1">
                <input type="submit" value="Registrar">
            </form>
        </div>

        <!-- Enlaces de recuperación de contraseña -->
        <p><a href="#" onclick="toggleForm('forgotPasswordForm')">¿Olvidaste tu contraseña?</a></p>

        <div class="forgot-password-form" id="forgotPasswordForm">
            <h2>Recuperar Contraseña</h2>
            <form action="/recuperar_contrasena" method="POST">
                <input type="email" name="email" placeholder="Ingresa tu Email" required>
                <input type="submit" value="Recuperar Contraseña">
            </form>
        </div>

        <!-- Validación de cuenta -->
        <p><a href="#" onclick="toggleForm('validationForm')">¿Problemas con validar tu cuenta?</a></p>

        <div class="validation-form" id="validationForm">
            <h2>Reenviar Correo de Validación</h2>
            <form action="/enviar_correo_cambio_rol" method="POST">
                <input type="email" name="email" placeholder="Ingresa tu Email" required>
                <input type="submit" value="Enviar Correo de Validación">
            </form>
        </div>

    <script>
        function toggleForm(formId) {
            const form = document.getElementById(formId);
            form.style.display = form.style.display === "none" || form.style.display === "" ? "block" : "none";
        }
    
        function showFloatingMessage(message, isError = false) {
        const floatingMessage = document.getElementById('floatingMessage');
        floatingMessage.textContent = message;
        floatingMessage.classList.toggle('error', isError);
        floatingMessage.classList.toggle('success', !isError);
        floatingMessage.style.display = 'block';

        setTimeout(() => {
            floatingMessage.style.display = 'none';
        }, 3000);
    }

    
        // Asigna las variables de EJS a variables de JavaScript
        var successMessage = "<%= typeof successMessage !== 'undefined' ? successMessage : '' %>";
        var errorMessage = "<%= typeof errorMessage !== 'undefined' ? errorMessage : '' %>";
    
        // Mostrar los mensajes si están definidos
        if (successMessage) {
            showFloatingMessage(successMessage);
        }
    
        if (errorMessage) {
            showFloatingMessage(errorMessage, true);
        }
    </script>    
    
</body>
</html>
