<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="/styles/style_header.css">
</head>
<body>
  <div class="containerheader">
    <nav>
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/">Notificaciones</a></li>
        <li><a href="/">Crear Solicitud</a></li>
        <li><a href="/">Aprobaciones de Usuarios Pendientes</a></li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Trabajadores</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/">Mostrar Trabajadores</a></li>
            <li><a class="dropdown-item" href="/">Crear Trabajador</a></li>
          </ul>
        </li> 
      </ul>
      <a href="/" class="btn">Salir</a>
    </nav>  
  </div>
</body>
</html>